@import "./login-form.scss";
@import "./register-form.scss";
@import "./id-card.scss";
@import "./MessageInput.scss";

*::-webkit-scrollbar {
    width: 0.6em;
}

*::-webkit-scrollbar-track {
    background: rgba(238, 238, 238, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(238, 238, 238, 0.829);
    border-radius: 30px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(238, 238, 238, 0.829) rgba(238, 238, 238, 0);
}

body {
    background-color: #4c1074;
    color: #eee;
    margin: 0;
}

.main {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
    justify-items: center;
    height: 100vh;

    .title {
        justify-self: center;
        align-self: center;
        grid-column: 10 / 16;
        grid-row: 1 / 5;
    }
}


