@import "./login-form.scss";
@import "./register-form.scss";
@import "./id-card.scss";
@import "./MessageInput.scss";
@import "./chat-box.scss";
@import "./logout-button.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

*::-webkit-scrollbar {
    width: 0.6em;
}

*::-webkit-scrollbar-track {
    background: rgba(238, 238, 238, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(238, 238, 238, 0.829);
    border-radius: 30px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(238, 238, 238, 0.829) rgba(238, 238, 238, 0);
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #4c1074;
    color: #eee;
    margin: 0;
    max-height: 100vh;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-auto-rows: min-content;
    height: 100vh;
}

.chat-page {
    grid-template-rows: 20% auto 15%;
}

.front-page {
    .title {
        grid-column: 1 / 4;
    }
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1 / 4;
    width: 95%;

    .title {
        justify-self: center;
        align-self: center;
        font-size: 3.5em;
    }
}

@media (max-width: 768px) {
    main {
        height: auto;
    }

    .chat-page {
        grid-template-rows: auto auto auto;

        .title {
            grid-column: 1 / 4;
        }
    }
}
