.chat-box {
    overflow-y: scroll;
    width: 95%;
    background-color: #eee;
    background-color: #631b93;
    padding-top: 1em;
    grid-column: 1 / 4;
}

.message-right {
    text-align: right;
}

.message-box {
    padding: 0 1em 1em 1em;
    width: 100%;
    word-wrap: break-word;
    box-sizing: border-box;
    white-space: pre-line;

    h2 {
        margin-top: 0;
    }

    p {
        margin: 0;
    }
}

.date-string {
    font-size: 0.6em;
}
