.message-input {
    grid-column: 1 / 4;
    width: 95%;
    display: grid;
    grid-template-columns: 80% auto;
    margin-bottom: 2em;

    textarea {
        border: none;
        padding: 1em;
        background-color: #74389d;
        resize: none;
        color: #eee;
    
        &:focus {
            outline: none;
        }
    }

    input {
        background-color: #8f5ab3;
        border: none;
        color: #eee;
    }
}

@media (max-width: 768px) {
    .message-input {
        height: 5em;
    }
}
