.register-form {
    grid-column: 1 / 4;
    width: 40%;
    background-color: #631b93;
    display: grid;
    justify-items: center;
    padding: 1em;
    margin: 1em;

    input, select {
        background-color: #74389d;
        color: #eee;
        border: none;
        padding: 0.2em;
        margin-bottom: 1em;

        &:focus {
            outline: none;
        }
    }

    input[type="button"] {
        background-color: #8f5ab3;
        border: none;
        color: #eee;
    }

    h2 {
        margin: 0 0 1em 0;
    }
}

@media (max-width: 768px) {
    .register-form {
        width: 85%;
    }
}
