.register-form {
    grid-column: 10 / 16;
    grid-row: 11 / 20;
    width: 100%;
    background-color: #631b93;
    display: grid;
    justify-items: center;
    padding: 1em;

    input, select {
        background-color: #74389d;
        color: #eee;
        border: none;
        padding: 0.2em;
        margin-bottom: 0.5em;

        &:focus {
            outline: none;
        }
    }

    input[type="button"] {
        background-color: #8f5ab3;
        border: none;
        color: #eee;
    }

    h2 {
        margin: 0;
    }
}
